<div class="login-wrapper" fxLayout="row">
  <mat-card class="box">
    <div mat-dialog-title>
      <h3>Login</h3>
    </div>
    <form [formGroup]="signinForm" (ngSubmit)="onFormSubmit()">
      <div mat-dialog-content class="content">
        <mat-label>UserName <span class="required">*</span></mat-label>
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Ex. _rishav_" formControlName="UserName"> 
          <mat-hint *ngIf="UserName && UserName.invalid && submitted">Please enter your username </mat-hint>
        </mat-form-field>
        <mat-label>Password <span class="required">*</span></mat-label>
        <mat-form-field appearance="outline">
          <input matInput type="password" placeholder="********" formControlName="Password">
          <mat-hint *ngIf="Password && Password.invalid && submitted">Please enter your password </mat-hint>
        </mat-form-field>
      </div>
      <div mat-dialog-actions class="action">
        <button mat-raised-button color="primary" type="submit">Login</button>
        
      </div>
      <div class="login-section">
        <h4>Don't have an account?</h4>
        <a routerLink="/signup" class="login-link">SignUp</a>
      </div>
    </form>
    
  </mat-card>
</div>