<mat-toolbar class="navbar">
    <button mat-fab color="primary" routerLink="" (click)="changeColor()">
        <mat-icon>home</mat-icon>
    </button>
    <span class="navbar-brand">
    </span>
    <div class="navbar-items">
        <button mat-raised-button routerLink="/emp" (click)="changeColor()">EMPLOYEE Details</button>
        <button mat-raised-button routerLink="/dep" (click)="changeColor()">Department Details</button>
        <button mat-raised-button routerLink="/proj" (click)="changeColor()">Project Details</button>
        <div mat-card-avatar class="navbar-avatar" (click)="openCard()" >
            <img src="\assets\pngwing.com.png" alt="Avatar">
        </div>
    </div>
</mat-toolbar>


<div class="card-container" [ngClass]="{ 'show-card': showCard }">
    <div class="card">
        <div class="card-header">
            
            <h3 style="color: rgb(25, 25, 94);font-size: 24px; font-weight: bold;"><span>UserName : </span>{{ username }}</h3>
            <button mat-icon-button color="warn" (click)="closeCard()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="card-body">
            <button mat-button color="primary" (click)="changePassword()">
                <mat-icon>key</mat-icon>
                Change Password
            </button>
            <button mat-button color="warn" (click)="openLogout()">
                <mat-icon>logout</mat-icon>
                Logout
            </button>
        </div>
    </div>
</div>       





