.table-container {
  width: 70%;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

}

th {
  font-weight: bold;
  padding: 12px;
  text-align: center;
}
.delBtn{
  color: red;
}
td {
  padding: 10px;
  text-align: center;
}
tr:not(.mat-header-row):hover {
  background-color: #ddcccc;
}
tr:hover {
  background-color: #ddcccc;
}


mat-paginator{
  background-color: rgba(255, 255, 255, .1);
}


.blue-button{
  float: right;
  padding: auto;
  margin: 20px;
  color: white;
}


.search{
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  height: 70px;
}
.no-data-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 20px;
  height: 100vh; /* Set the height to the full viewport height */
}

