<app-navbar></app-navbar>
<div class=table-container>
  <button mat-raised-button (click)="openAddEditForm()" class="blue-button">
    Add Employee
  </button>
  <mat-form-field class="search">
    <mat-label>Search</mat-label>
    <mat-icon matSuffix>search</mat-icon>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Search" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource"  *ngIf="!noDataFound; else noData" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="mobileNumber">
      <th mat-header-cell *matHeaderCellDef> Mobile No </th>
      <td mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef> Department Name </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.department">{{ element.department.name }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="employeeProjects">
      <th mat-header-cell *matHeaderCellDef>Projects</th>
      <td mat-cell *matCellDef="let element">
        <span *ngFor="let project of element.employeeProjects">{{project.project.pName}}, </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="openEditForm(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openDelete(row.id)">
          <mat-icon class="delBtn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <ng-template #noData>
    <div class="no-data-message">
      <mat-icon>sentiment_very_dissatisfied</mat-icon>
      <p>No Employee record found</p>
    </div>
  </ng-template>
  <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>