<mat-card style="display: flex;">
  <mat-card-header >
    <mat-card-title>
      <h1>Email Verification</h1>
    </mat-card-title>
  </mat-card-header>
  <br>
  <br>
  <mat-card-content *ngIf="!display">
    <button mat-raised-button color="primary" (click)="email_verified()">Click Here To Vierify</button>
    <br><br>
    <mat-spinner  style="margin: auto;"></mat-spinner>
  </mat-card-content>
  
  <mat-card-content  *ngIf="display">
    <h1 >Email Verified</h1>
    <h3 >You can now login to your account</h3>
    <div>
      <a routerLink="/signin" class="login-link">Login</a>
    </div>
  </mat-card-content>
</mat-card>

