<div mat-dialog-title>
  <h3>{{data ? 'Update Employee Form':'Add Employee Form'}}</h3>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <mat-label>First Name</mat-label>
    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="Ex. Ram" formControlName="firstName">
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-hint *ngIf="firstName && firstName.invalid && submitted">Please enter your first name </mat-hint>
    </mat-form-field>

    <mat-label>Last Name</mat-label>
    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="Ex. Ram" formControlName="lastName">
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-hint *ngIf="lastName && lastName.invalid && submitted">Please enter your last name </mat-hint>
    </mat-form-field>

    <mat-label>Email</mat-label>
    <mat-form-field appearance="outline">
      <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email">
      <mat-icon matSuffix>mail</mat-icon>
      <mat-hint *ngIf="email && email.invalid && submitted ">Please enter a valid email address</mat-hint>
    </mat-form-field>

    <mat-label>Mobile Number</mat-label>
    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="Ex. Ram" formControlName="mobileNumber">
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-hint *ngIf="mobileNumber && mobileNumber.invalid && submitted">Please enter a valid mobile number
      </mat-hint>
    </mat-form-field>

    <mat-label>Department Name</mat-label>
    <mat-form-field appearance="outline">
      <mat-select placeholder="Select Department" formControlName="departmentName" [(ngModel)]="selecteddepartment" >
        <mat-option *ngFor="let dep of departments" [value]= 'dep'>{{dep}}</mat-option>
      </mat-select>
      <mat-hint *ngIf="departmentName && departmentName.invalid && submitted">Please select Department
        Name</mat-hint>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update':'Save'}}</button>
  </div>
</form>